chainlit
chromadb
email-validator
fastapi-cli
httptools
langchain-community
langchain-huggingface
langchain-openai
markdown
marshmallow-enum
pip-chill
pip-review
pytest
ujson
unstructured
uvloop
websockets
